/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */

 .section.contact.m-spacing .columns.contained.middle {
    padding: 50px;
    background: rgb(250, 250, 250);
 }

 .section.contact.m-spacing .columns.contained.middle h2 {
    position: relative;
    bottom: 3vh;
 }

 .section.contact.m-spacing .columns.contained.middle .row-1 .col-2 p {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
 }

 @media (min-width: 77rem) {
    :root {
       --grid-container-width: 1400px;
    }

    .marquee.large .foreground {
       flex-direction: row;
       align-items: center;
       padding: 0;
       gap: 0;
    }

    /* The below CSS is for Ribbon-Footer */

    .section.ribbon-footer[class*="-up"] .media .foreground > .media-row .image {
      margin-bottom: 0;
    }

    .section.ribbon-footer[class*="-up"] .media {
      padding: 0;
    }

    .section.contact .text-block.s-spacing.con-block .foreground > div{
       display: flex;
       flex-direction: row;
       gap: 20px;
       align-items: center;
    }

    .section.ribbon-footer[class*="-up"] .text-block:not(.legal, .link-farm) .foreground > div {
      justify-content: center;
    }
 }