/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */
 
 @media (min-width: 77rem) {
     .marquee.large .foreground {
         flex-direction: row;
         align-items: center;
         padding: 0;
         gap: 0;
     }
 }