/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */



 @media (min-width: 77rem) {

    :root {
       --grid-container-width: 1400px;
       --type-body-m-size: calc(var(--font-size-multiplier, 1) * 14px);
       --type-heading-l-size: calc(var(--font-size-multiplier, 1) * 18px);
       --spacing-xxxl: 204px;
    }

    /* To make the image size a bit smaller for marquee large block */

    .marquee .foreground .asset {
      display: flex;
      flex-direction: row;
    }

    .marquee .foreground .asset img {
      width: 75%;
    }

     /* The below CSS is for Contact Details to the right */

    .section.contact .text-block.s-spacing.con-block .foreground > div{
       display: flex;
       flex-direction: row;
       gap: 30px;
       align-items: center;
    }

    /* The below CSS is for Contact Details to the right */

    .section.contact .text-block.s-spacing.con-block .foreground > div [class^="body-"] {
      margin: 0;
    }
 }